* {
  --pf-c-page__sidebar--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
}

.logo {
  max-width: 8rem;
}

.customizedLogo {
  width: 8rem;
}

.change-password-modal .ant-modal-content {
  padding: 0 !important;
}

.pf-c-about-modal-box {
  border-radius: 20px;
}

.ant-menu-dark {
  background: none;
}
