* {
  --pf-c-page__sidebar--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
}

.logo_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 8rem;
}

.customerlogo {
  max-width: 6rem;
  max-height: 3rem;
}

.customizedLogo {
  width: 8rem;
}

.change-password-modal .ant-modal-content {
  padding: 0 !important;
}

.pf-c-about-modal-box {
  border-radius: 20px;
}

.ant-menu-dark {
  background: none;
}
