.chart__title {
  color: #1e2939;
  margin-left: 24px;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-weight: bold;
}

.chart__content {
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  opacity: 1;
}
