.piechart__wrap {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  opacity: 1;
  padding: 16px;
  max-width: 500px;
  max-height: 500px;
  flex: 1;
}

.piechart__title {
  font-weight: bold;
}
